<!DOCTYPE html>
<html lang="en">

<head>
    <base href="" target="">
    <!-- Title -->
    <title>Dashboard | Graindashboard UI Kit</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../public/images/icons/">


    <!-- DEMO CHARTS -->
    <link rel="stylesheet" href="public/demo/chartist.css">
    <link rel="stylesheet" href="public/demo/chartist-plugin-tooltip.css">

    <!-- Template -->
    <link rel="stylesheet" href="public/graindashboard/css/graindashboard.css">

</head>

<aside id="sidebar" class="js-custom-scroll side-nav">
        <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">
            <!-- Title -->
            <li class="sidebar-heading h6">Dashboard</li>
            <!-- End Title -->

            <!-- Dashboard -->
            <li class="side-nav-menu-item active">
                <a class="side-nav-menu-link media align-items-center" href="/admin/dashboard">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="gd-dashboard"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Dashboard</span>
                </a>
            </li>
            <!-- End Dashboard -->

            <!-- Documentation -->
            
          
        
             <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="/admin/allUsers" target="_self">
              <span class="side-nav-menu-icon d-flex mr-3">
               <i class="gd-user"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Users</span>
                </a>
            </li>
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="/admin/products" target="_self">
              <span class="side-nav-menu-icon d-flex mr-3">
               <i class="bi bi-inboxes"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Products</span>
                </a>
            </li>
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="/admin/category" target="_self">
              <span class="side-nav-menu-icon d-flex mr-3">
             <i class="bi bi-tags"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Category</span>
                </a>
            </li>
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="/admin/orders" target="_self">
              <span class="side-nav-menu-icon d-flex mr-3">
               <i class="bi bi-arrow-up-circle"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Orders</span>
                </a>
            </li>
            <li class="side-nav-menu-item">
                <a class="side-nav-menu-link media align-items-center" href="/admin/coupons" target="_self">
              <span class="side-nav-menu-icon d-flex mr-3">
                <i class="bi bi-percent"></i>
              </span>
                    <span class="side-nav-fadeout-on-closed media-body">Coupons</span>
                </a>
            </li>
            <!-- End Documentation -->

            <!-- Title -->
            <!-- End Title -->

            <!-- Users -->
            
            <!-- End Users -->

            <!-- Authentication -->

                <!-- End Static -->

            </ul>
        </aside>