<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <base href="" target="_self">
    <!-- Title -->
    <title>Admin Panel | GAMEX</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/icons/favicon.ico">


    <!-- DEMO CHARTS -->
    <link rel="stylesheet" href="/admin/public/demo/chartist.css">
    <link rel="stylesheet" href="/admin/public/demo/chartist-plugin-tooltip.css">

    <!-- Template -->
    <link rel="stylesheet" href="/admin/public/graindashboard/css/graindashboard.css">

</head>

<body class="has-sidebar has-fixed-sidebar-and-header">
<!-- Header -->

    
{{#if admin}}
{{>admin-header}}
{{else }}
{{!-- {{NULL}} --}}
{{/if}}
{{{body}}}
</body>

<script src="public/graindashboard/js/graindashboard.js"></script>
<script src="public/graindashboard/js/graindashboard.vendor.js"></script>

</html>